extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(action='/asignatura/new' method='post')
    label(for='nombre') Nombre asignatura: 
    br
    input#nombre(type='text' name='nombre' required)
    br
    br
    label(for='numHoras') Total horas asignatura: 
    br
    input#numHoras(type='text' name='numHoras' required)
    br
    br
    label(for='docente') Docente: 
    select#docente(name='docente')
      each docente in docentes  
        option(value=docente.id) #{docente.nombre} #{docente.apellido}
    br
    br
    label(for='alumnos') Alumnos:
    br
    each alumno in alumnos
      input(type='checkbox' name='alumnos' value=alumno.id) 
      |  #{alumno.nombre} #{alumno.apellido}
      br
    br
    input(type="submit")
